@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;

    /* text-transform: uppercase; Colocar em maiusculo */

    font-variant: small-caps; /*letras maiusculas mas sem deixar muito grande */
    font-family: var(--fonte2);
    font-size: 4em;
}

header > p {
    padding-bottom: 50px;
    
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top:10vh;
    padding-bottom: 10vh;
    padding-left: 30px;

    line-height: 2em;
    font-family: var(--fonte3);
}


.normal{
    background-color: white;
    color: black;
}

.imagem {
    background-color: black;
    color: white;
}

.imagem > p {
    display: inline-block;

    background-color: rgba(0, 0, 0, 0.253);

    padding: 5px;

    border-radius: 1%;
}

/* resolução para dispositivos móveis */
@media only screen and (max-width: 600px) { 
    section p {
    font-size: 18px;
    line-height: 2em;
    }
}

/* resolução para dispositivos móveis um pouco maiores */
@media only screen and (min-width: 600px) { 
    section p {
    font-size: 20px;
    line-height: 2em;
    }
}

/* resolução para tablets */
@media only screen and (min-width:768px){ 
    section p{
        font-size: 25px ;
        line-height: 2em;
    }

}

/* resolução para tablets maiores */
@media only screen and (min-width:992px){ 
    section p{
        font-size: 25px ;
        line-height: 2em;
    }

}

/* resolução para laptop e desktop */
@media only screen and (min-width:1200px) { 
    section p{
        font-size: 30px ;
        line-height: 2em;
    }

}


footer {
    background-color: black;
    color: white;
    text-align: center;

    padding: 10px;
}